<div class="container" style="width: 500px;">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/200/300);"><h1><%= @cocktail.name %></h1></div>
  <br>
  <div class="container text-center" style="width: 350px;">
    <p>Add description and ingredient: </p>

    <%=simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Add", class: "button-white"%>
    <% end %>
  </div>
</div>


