<br><br>
<div class="container" style="width: 500px;">
  <% if @cocktail.photo.attached? %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 300, crop: :fill %>');"><h1><%= @cocktail.name %></h1></div>
  <% end %>
  <br>
  <div class="container" style="width: 350px;">
    <p>Add description and ingredient: </p>

    <%=simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Add", class: "button"%>
    <% end %>
    <br>
    <%= link_to '🔙 to cocktail', cocktail_path(@cocktail.id), class: "button" %>
  </div>
</div>


